<div class="container-fluid">
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Packet Runtime</h6>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="RuntimeChartSwitch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Pause Update</label>
                        </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="RuntimeChart" style="display: block; width: 915px; height: 320px;" width="915" height="320" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-6">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Measurement Type</h6>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="TypeChartSwitch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Pause Update</label>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="TypeChart" style="display: block; width: 915px; height: 320px;" width="915" height="320" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>